/* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* font-family: 'Montserrat', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

/* font-family: 'Merriweather Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap');

@font-face{
    font-family: Arial;
    src: url('/Arquivos\ css/arial.ttf');
}

/* congigurações gerais */

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
