/* Pesquisa de Ordens */

.pesquisaOrdens{
    margin-top: 38px;
    background-color: white;
    height: 172px;
    width: 100%;
    border-radius: 10px;
    padding: 21px 24px;
}

.pesquisa{
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.inputPesquisa{
    width: 486px;
    height: 51px;    
    background: #FBFBFB;
    border-radius: 5px;
    border: none;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    margin-right: 20px;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}

.inputPesquisa::placeholder{
    color: #D9D9D9;
}

/* Lista de Ordens */

.listaOrdens{
    margin-top: 38px;
    background-color: white;
    width: 100%;
    border-radius: 10px;
    padding: 21px 24px;
    overflow: auto;
    min-height: 645px;
    height: auto;
}

table{
    width: 100%;
    margin-top: 40px;
    border-collapse:separate;
    border-spacing:0 5px;    
}

th{
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 300;
    font-size: 20px;
}

.ordem{
    background: #F4F4F4;
    height: 66px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    margin-top: 20px;
}

td{
    text-align: center;
}

.espaço{
    height: 20px;
}

/* Botões de Edição e Exclusão */

.tdAcoes button{
    border: none;
    width: 36px;
    height: 36px;
    cursor: pointer;
}

.tdAcoes button:hover{
    border: 1px solid black;
    transition: 1s;
}

.btnVisualiza{
    background-color: aquamarine;
    margin-right: 10px;
}

.btnVisualiza:hover {           
    content:"Visualizar";
    font-size:13px;
 }

.btnEdita{
    margin-right: 10px;
    background-color: #FAF69E;
}

.btnExclui{
    margin-right: 10px;
    background-color: #EE6F6F;
}

.btnStatusFila{
    margin-right: 10px;
    background-color: #6FEEEE;
}
.btnStatusProducao{
    margin-right: 10px;
    background-color: #EBEE6F;
}
.btnStatusConcluido{
    margin-right: 10px;
    background-color: #88EE6F;
}
.btnStatusErro{
    margin-right: 10px;
    background-color: #F5B56A;
}

/* Botão Buscar */

.btnBuscar{
    width: 139px;
    height: 51px;
    background: #FAFAFA;
    border: 2px solid #AEAEAE;
    box-sizing: border-box;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    cursor: pointer;
}
