/* Configurações do layout */

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    padding: 20px;
    background: #FAFAFA;
}

.container__sidebar {
    width: 233px;
    height: 950px;
    background: linear-gradient(180deg, #FFD9AF 0%, rgba(255, 209, 158, 0.71) 100%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px;
}

.container__main {
    margin-left: 38px;
    flex: 1;
    overflow: auto;
}

/* Botões menu lateral */

.btns{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

a{
    text-decoration: none;
}

.btnFuncionalidade{
    width: 220px;
    height: 60px;
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    border:none;
    letter-spacing: 0.055em;
    color: #6D6D6D;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-left: 10px;
    cursor: pointer;
}

.btnFuncionalidade img{
    margin-right: 10px;
}


/* Botão Logout */

.btnLogout{
    width: 100%;
    background-color: transparent;
    border: none;
    display:flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.055em;
    color: #6D6D6D;
    cursor: pointer;
}

.btnLogout:hover{
    font-size: 16px;
    transition: 0.4s;
}

.btnLogout img{
    margin-right: 10px;
}

/* Título */

.tit{
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    font-weight: 700;
    letter-spacing: 0.03em;
}

/* Título das divs */

.divTit{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 0.055em;
    color: #686868;
}

/* Linha horizontal */

hr{
    height: 2px;
    color: #C5C4C4;
}